$font-family-base: Inter, "Sora" !default;
$font-family-bold: Inter, "Sora" !default;
$font-family-light: Inter, "Sora" !default;
$font-family-extra-light: Inter, "Sora" !default;
$font-size-base: 1.4rem !default;

$common-white: #ffffff !default;
$background: #d8dee3 !default;

$shimmer-gradient: linear-gradient(270deg, #ebeff3 0%, #d8dee3 100%);
$shimmer-gradient-light: linear-gradient(270deg, #ffffff 0%, #d8dee3 100%);
$shimmer-gradient-dark: linear-gradient(270deg, #d8dee3, #a3ac84 100%);
