@import "./variables";

$variations: "extra-large" 4rem 4rem, "med-large" 3.2rem 3.2rem,
  "large" 2.8rem 3.6rem, "primary" 2.2rem 3.2rem, "secondary" 1.9rem 2.8rem,
  "base" 1.6rem 2.4rem, "small" 1.3rem 2rem, "tiny-high" 1.1rem 1.6rem,
  "extra-small" 0.8rem 0.9rem;

$weights: "strong" bold, "normal" normal, "weak" lighter;

$font-colors: "UI-0" #ffffff, "UI-1" #f4f7fa, "UI-2" #ebeff3, "UI-3" #d8dee3,
  "UI-4" #a3acb4, "UI-5" #5c6974, "UI-6" #3a4752, "UI-7" #09131c;

$letter-spacing: "normal" normal, "smallspace" 0.01rem, "medspace" 0.04rem,
  "xmedspace" 0.06rem, "lrgspace" 0.08rem;

:root {
  --headerPadding: 2.8rem;
  --footerPadding: 1.6rem;
}

$angularSpacer: 1.2rem !default;
$angularSpacers: () !default;
$angularSpacers: map-merge(
  (
    0: 0,
    1: (
      $angularSpacer * 0.25,
    ),
    2: (
      $angularSpacer * 0.5,
    ),
    3: $angularSpacer,
    4: (
      $angularSpacer * 1.5,
    ),
    5: (
      $angularSpacer * 2,
    ),
    6: (
      $angularSpacer * 2.5,
    ),
    7: (
      $angularSpacer * 3,
    ),
  ),
  $angularSpacers
);

@each $size, $length in $angularSpacers {
  .angular-row-#{$size} {
    margin-left: -$length !important;
    margin-right: -$length !important;
  }

  @each $prop, $abbrev in (margin: m, padding: p) {
    .angular-#{$abbrev}-#{$size} {
      #{$prop}: $length !important;
    }

    @each $orientation, $ori in (top: t, bottom: b, left: l, right: r) {
      .angular-#{$abbrev}#{$ori}-#{$size} {
        #{$prop}-#{$orientation}: $length !important;
      }
    }
  }
}

@each $name, $font-size, $line-height in $variations {
  .#{$name} {
    font-size: $font-size !important;
    line-height: $line-height !important;
  }

  @each $weight-name, $weight in $weights {
    .#{$name}-#{$weight-name} {
      @extend .#{$name};
      font-weight: $weight !important;
      .div {
        font-weight: inherit !important;
      }
    }

    @each $color-name, $color in $font-colors {
      .#{$name}-#{$color-name} {
        @extend .#{$name};
        color: $color;
      }

      .#{$name}-#{$weight-name}-#{$color-name} {
        @extend .#{$name}-#{$weight-name};
        color: $color;
      }

      @each $ltr-space-name, $ltr-space in $letter-spacing {
        .#{$name}-#{$weight-name}-#{$color-name}-#{$ltr-space-name} {
          @extend .#{$name}-#{$weight-name}-#{$color-name};
          letter-spacing: $ltr-space;
        }
      }
    }
  }
}

#blt-gle,
#blt-gr,
#signin-component {
  .btn-primary-rect {
    height: 4.5rem;
  }
  .btn-circle-shimmer {
    width: 2rem;
    height: 1.8rem;
  }
}

#blt-gr {
  .btn-primary-rect {
    background: transparent;
    border: 1px solid;
  }
}

.card-layout {
  border-radius: 0.8rem !important;
  background: $common-white !important;
  &.lvl-1 {
    box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.08) !important;
  }
  &.lvl-2 {
    box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.03),
      0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.6);
  }
  &.lvl-3 {
    box-shadow: 0 0.1rem 0.4rem 0.3rem rgba(0, 0, 0, 0.03),
      0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.6);
  }
  &.lvl-4 {
    box-shadow: 0 0.2rem 0.8rem 0.6rem rgba(0, 0, 0, 0.03),
      0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.6);
  }
}

.bottomsheet-wrapper {
  border-radius: 1.6rem 1.6rem 0 0 !important;
  background: $common-white !important;
}

.dashboard-header {
  padding: var(--headerPadding) 1.6rem 2.4rem 1.6rem;
}

.angular-flex-top {
  align-items: flex-start;
}

.angular-nav {
  display: flex;
  flex-wrap: wrap;
}

.svg-shimmer {
  background: $shimmer-gradient;
}

.svg-shimmer-light {
  background: $shimmer-gradient-light;
}

.svg-shimmer-dark {
  background: $shimmer-gradient-dark;
}

.content-inline {
  display: inline;
}

.dashboard-wrapper {
  background: $background;
}

.intro-screen-wrapper {
  font-family: Ubuntu, "Nunito" !important;
}

.dashboard-title {
  background: $background;
}

.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-text-field {
  border: 0;
  background: darken($common-white, 2%);
  border-radius: 0.8rem;
  width: 100%;
  height: 4.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;

  &:focus,
  &:active,
  &:focus-visible {
    outline: 0;
    border: 1px solid darken(#0f6aa2, 20%) !important;
    color: #09131c;
  }

  &:focus::placeholder {
    color: transparent;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
}
