<div class="btn-container angular-m-3">
  <button type="button" class="btn-default btn-primary-rect btn-primary" [class.disable]="state !== 'active'"
    [disabled]="state !== 'active'" (click)="tapEvent()" (touchstart)="setActive(true)"
    (touchend)="setActive(false)" [class.btn-active]="active">
    <div *ngIf="state === 'loading'" class="btn-spinner-div">
      <span class="btn-spinner"></span>
    </div>
    <ng-container *ngIf="state !== 'loading'">
      <span class="btn-primary-text" style="pointer-events: none;" [innerHTML]="btnContent">
        <ng-content></ng-content>
      </span>
    </ng-container>
  </button>
</div>
