@import "../../styles/variables";

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-default {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  padding: 0.8rem 1.6rem;
  outline: none !important;
}

.btn-spinner-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-spinner {
  z-index: 1;
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  pointer-events: none;
  border: 0.3rem solid $common-white !important;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.btn-primary {
  background: linear-gradient(-45deg, #125188, #0f6aa2);
  box-shadow: 0 0.1rem 0.4rem 0.1rem rgba(21, 153, 209, 0.16),
    0 0.4rem 1.6rem -0.2rem rgba(38, 144, 211, 0.2),
    0 0.8rem 2.4rem -0.8rem rgba(56, 136, 207, 0.28),
    inset 0 0 1.2rem 0.4rem rgba(56, 136, 207, 0.24);
  border: 0;
  color: $common-white;

  &.disable {
    opacity: 0.3;
  }

  &.btn-active:active {
    background-color: linear-gradient(-45deg, #125188, #0f6aa2);
    box-shadow: 0 0.4rem 0.1rem 0.4rem rgba(21, 153, 209, 0.16),
      inset 0 2rem 2rem 0 #125188;
  }

  &:hover,
  &:focus {
    background-color: linear-gradient(-45deg, #125188, #0f6aa2);
    box-shadow: 0 0.1rem 0.4rem 0.1rem rgba(21, 153, 209, 0.16),
      0 0.4rem 1.6rem -0.2rem rgba(38, 144, 211, 0.2),
      0 0.8rem 2.4rem -0.8rem rgba(56, 136, 207, 0.28),
      inset 0 0 1.2rem 0.4rem rgba(56, 136, 207, 0.24),
      inset 0 0.8rem 1.4rem 0.4rem #125188;
  }
}

.btn-primary-rect {
  display: flex;
  border-radius: 0.8rem;
  height: 5.6rem;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
  text-align: left;
  min-width: 100%;

  .btn-primary-icon {
    padding: 0rem 0.8rem 0rem 0rem !important;
    line-height: 1rem !important;
  }
  .btn-circle-shimmer {
    border-radius: 50%;
    width: 3.4rem;
    height: 3.2rem;
    margin-right: 0.8rem;
    opacity: 0.2rem;
  }
}

/* .btn-centre-icon {
  width: 3.2rem;
  height: 3.2rem;
} */

.btn-primary-text {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  color: $common-white;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
