 <ng-container *ngIf="state === 'normal'; else labelShimmer">
  <div class="{{labelCssClass}} {{tagCssClass}} content-inline">
    <div *ngIf="securityTrustHtml" class="attr-lbl" [innerHTML]="securityTrustHtml"></div>
    <div *ngIf="!securityTrustHtml" class="attr-lbl">
      <ng-content></ng-content>
    </div>
  </div>
 </ng-container>

 <ng-template #labelShimmer>

 </ng-template>
