<app-splash-screen></app-splash-screen>
<div class="angular-wrapper intro-screen-wrapper">
  <div class="container-fluid angular-p-3" style="height: 100%;">
    <div class="inner-container">
      <div class="angular-pb-3">
        <!-- Will change to svg img loader component-->
        <img class="go-logo" src="../../assets/images/Logo.png" alt="GOWIN LOGO">
      </div>
      <div class="base-weak-UI-0">{{greetings}}</div>
    </div>
    <div class="btn-outer-container">
      <!-- <ng-container *ngFor="let button of buttonList"> -->
        <!-- <div id="{{button?.id}}"> -->
          <app-button [btnContent]="buttonTitle" [state]="state" (btnTouchEvent)="tapEvent($event)"></app-button>
        <!-- </div> -->
      <!-- </ng-container> -->
    </div>
    <div class="footer-content">
      <div class="tiny-high-weak-UI-0 align-left">English</div>
      <div class="tiny-high-weak-UI-0 align-centre">Prayag Technologies Limited</div>
      <div class="tiny-high-weak-UI-0 align-right">Help</div>
    </div>
  </div>
</div>
